body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 18px;
}

.text {
    color: rgb(81, 80, 80);
    height: 40px;
    width: 450px;
    border-radius: 6px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.submit {
    color: rgb(81, 80, 80);
    height: 45px;
    width: 100px;
    font-size: 20px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgb(68, 214, 63);
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 50px;
}

.search-result {
    width: 30%;
    height: auto;
    margin-bottom: 60px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.search-result img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.search-result:hover {
    transform: scale(1.005);
    opacity: 0.8;
    cursor: pointer;
}

.search-result p {
    font-size: 15px;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.play-button,
.stop-button,
.download-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    flex: 1;
}

.play-button {
    background-color: #7dd7fe;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.play-button:hover {
    background-color: #10b9f7;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.stop-button {
    background-color: #06f92a;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.stop-button:hover {
    background-color: #d0f407;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.download-button {
    background-color: rgb(18, 176, 243);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: #f36d45;
}

.download-button:hover {
    background-color: #0177f4;
    color: black;
    background-color: #2c08f7;
    color:white;
}

.show-more-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.show-more {
    color: rgb(221, 217, 217);
    height: 45px;
    width: 100px;
    font-size: 20px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgb(18, 176, 243);
    display: none;
}

.show-more:hover {
    background-color: #0177f4;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.prev-button, .next-button {
    color: rgb(221, 217, 217);
    height: 45px;
    width: 100px;
    font-size: 20px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgb(18, 176, 243);
    margin: 0 10px;
}

.prev-button:hover, .next-button:hover {
    background-color: #0177f4;
}

.prev-button {
    background-color: #ff5722;
}

.next-button {
    background-color: #4caf50; 
}

.current-track-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    display: none; 
}

.current-track {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .search-result {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .search-result {
        width: 100%;
        padding: 20px;
    }

    .search-results {
        flex-direction: column;
    }
}
